* {
  margin:0;
  padding :0;
}

body {
  background-color: white;
}

.container {
  width: 100%;
}

ul.list-inline {
  padding-left: 50px;
  padding-right: 50px;
  list-style: none;
  margin-left: -5px;

}


.title {
    width: 40%;
    border: 3px solid;
    text-align: center;
    margin-left: 500px;
    margin-right: 250px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.title h1{
  font-family: Lucida,Monaco, monospace;
}

.warning h5 {
    margin-left: 660px;
    font-size: x-large;
    color: red;
    margin-bottom: 50px;
}

.hospital_info h3{
  font-family: Lucida,Monaco, monospace;
  margin-left: 200px;
  margin-top: 50px;
}


.hospital_info input.form-control {
    width: 75%;
    margin-left: 200px;
}

.add_records h3{
  font-family: Lucida,Monaco, monospace;
  margin-left: 200px;
  margin-top: 20px;
}


.add_records input.form-control {
    width: 50%;
    margin-left: 200px;
}

.clearfix {
  overflow: auto;
}
.confirm_waiting h3{
    margin-top: 250px;
    margin-left: 300px;
    font-family: Lucida,Monaco, monospace;
}

div#look_up {
    margin-left: 100px;
    margin-bottom: 50px;
}

div#look_up h2 {
    font-size: xx-large;
    font-weight: bolder;
    color: blue;
    font-family: Lucida,Monaco, monospace;
}

span.glyphicon.glyphicon-search {
    font-size: 28px;
}
